@import 'foundation';

body {
  background: #e2ebf3;
}
// SITE LAYOUT----------------------------------------
#hr {
	width: 90%;
	margin: 0 auto;
}
.layoutForm {
	width: 80%;
	margin: 0 auto;
	margin-top: 4%;
}
.layoutBtns {
	margin-left: 5%;

	button {
		margin-right: 1%;
	}
}

.title-area {
	width: 100%;
	li {
	display: inline-block;
	}
}
.controlsBtn {

	button {
		
	}
}

// DASH--------------------------------------------
#dashPageBackground {
	background: #333333;
}
#dashBackground {
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 900px;
	
}

//Edit PROFILE--------------------------------------
.layoutEditProfile {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
}